.lang-top{
    display: flex;
    gap: 5px;
    text-transform: uppercase;
    position: relative;
    width: auto;
}
.world{
    margin-top: 5px;
}
.lang-button{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100px;
    font-size: large;
    border-radius: 12px;
    border: none;
    background-color: rgb(167, 103, 227);
    margin-bottom: 0.6rem;
    color: white;
    justify-content: center;
    
}
.globe-btn{
    position: relative;
    cursor: pointer;
}
.lang-letter{
    cursor: pointer;
}
.lang-btns{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -1.75rem;
    top: 2rem;
    cursor: pointer;
}
.visible{
    display: none;
}